[submodule "Engine/ThirdParty/spdlog"]
	path = Engine/ThirdParty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/ThirdParty/tracy"]
	path = Engine/ThirdParty/tracy
	url = https://github.com/wolfpld/tracy
